@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.z-bump {
  z-index: 1;
}

.bi.bi-lg {
  font-size: 1.5em;
}

.inline-image {
  height: 1.5em;
}

.rounded-top-end-0 {
  border-top-right-radius: 0px !important;
}

.rounded-end-0 {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}