.editorjs.imageblock {
    background: url('~Assets/card-image.svg') no-repeat center center;
    background-size: 60px;
    min-height: 96px;
    min-width: 128px;

    &.editing {
        max-height: 300px;
        max-width: 90vw;
        object-fit: scale-down;
    }

    &.splash {
        object-fit: cover;
        width: 100vw;
    }

    &.polaroid {
        object-fit: cover;
        aspect-ratio: 4/3;
        width: 100%;
        max-height: fit-content;
        border: 1rem white solid
    }

    &.fancy {
        object-fit: cover;
        width: 100%;
        margin-left: calc(50vw - 100%);
        border-left: 1rem var(--bs-primary) solid;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    &.align-top {
        object-position: top;
    }

    &.align-middle {
        object-position: center;
    }

    &.align-bottom {
        object-position: bottom;
    }
}